---
layout: archive
title: "MATE"
header:
  overlay_color: "#000"
  overlay_filter: "0.5"
  overlay_image: banner_2.jpeg
  actions:
  caption: ""
excerpt: "Mantle MT Interpretation Software"
permalink: /mate/
author_profile: true
---

{% include base_path %}

{% for post in site.mate reversed %}
  {% include archive-single.html %}
{% endfor %}

<iframe width="425" height="350" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://www.openstreetmap.org/export/embed.html?bbox=-173.84765625%2C-51.508742458803326%2C119.70703125000001%2C72.50172235139388&amp;layer=mapnik" style="border: 1px solid black"></iframe><br/><small><a href="https://www.openstreetmap.org/#map=3/22.84/-27.07">View Larger Map</a></small>
